* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.py text eol=lf
*.go text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=lf
*.bat text eol=crlf
*.sh text eol=lf
PKGBUILD text eol=lf

cty.dat -text -diff
*.exe -text
*.zip -text
